body
{
    overflow-x:hidden;
    overflow-y:hidden;
    background-color:gray;
    padding:0px;
    height:100%;
    width:100%;
    margin:0%;
}
.canvasContainer
{
    text-align:center;
    width:100%;
    height:
}
.canvas
{
    border-style:solid;
    border-color:white;
    margin: 0px;
    padding:0px;
    background-color:white;
    max-height:100%;
    max-width:100%;
    justify-content:center;
}